/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/
#signup{
	width: 700px;
    margin: 60px auto;
    color: #fff;
}
#signup h1 {
    font-size: 28px;
    font-size: 1.75rem;
    margin: 0 0 30px;
    color: #fff;
    text-align: center;
}